/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
	@apply m-0 p-0;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

h1 {
	@apply font-bold text-xl;
}

ul {
	list-style: none;
}